@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lato:ital,wght@0,300;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --calendar-bg-color: linear-gradient(to bottom, #CBDAFC, #D1E7F3);
    --calendar-font-color: #102155;
    --weekend-font-color: red;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-others-dates-color: #928F91;
    --calendar-selected-date-color: #F48120;
    --calendar-today-color: transparent;
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-prevnext-date-color: #484848
}

* {
    padding: 0;
    margin: 0;
}

.calendar-menu {
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'Inter', sans-serif;

    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: 10px;
}

.calendar-inner {
    padding: 15px 5px;
}

.calendar-menu .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    text-align: center;
  
}

.calendar-menu .calendar-inner .calendar-body .number-item .dateNumber{
    color: #0B0B0B;
    font-weight: 600;
    border-radius: 5px;
}

.calendar-menu .calendar-inner .next-dates,
.calendar-menu .calendar-inner .prev-dates {
    color: var(--calendar-others-dates-color) !important;
}

.calendar-menu .calendar-inner .calendar-body div {
    /* padding: 4px ; */
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 5px 2px 0px;
    color: #0B0B0B;
    font-weight: 600 ;
}

.calendar-menu .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar-menu .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar-menu .calendar-inner .calendar-body div:hover {
    border-radius: 10px;
}

.calendar-menu .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.number-item:active{
    background-color: var(--calendar-selected-date-color);
}

.calendar-menu .calendar-inner .calendar-controls {
    display: flex;
    /* background-color: red; */
    flex-direction: column; 
}


.calendar-menu .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content:center;
    align-items: center;
    gap: 5px;
}

.calendar-month-arrow {
    /* background-color: blue ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.calendar-arrow{
    display: flex;

}

.calendar-menu .calendar-inner .calendar-controls .calendar-next,
.calendar-menu .calendar-inner .calendar-controls .calendar-prev {
    text-align: right;
    margin-left: 23px;
}

.calendar-menu .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar-menu .calendar-inner .calendar-controls  .calendar-month-arrow .calendar-month-label {
    font-weight: 1000;
    font-size: 20px;
    text-align: left;
    /* margin: 0px 0px 0px 30px; */
}

.calendar-menu .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border: 1px solid #000;
    border-radius: 5px;

}



.calendar-menu .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 10px;
}

.calendar-menu .calendar-inner .calendar-body .calendar-today a {
    outline: 1px solid var(--calendar-today-innerborder-color);
}

.calendar-menu .calendar-inner .calendar-controls .calendar-next a,
.calendar-menu .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 1px 5px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0px;
    border-radius: 4px;
    background-color: #102155;
}


.selectedDay {
    background-color: #F48120;
    border-radius: 5px;
    color: #FFF !important;
}



.feriado {
    font-weight: 700;
    color: #F48120 !important;
    pointer-events: none;
}

.weekend {
    font-weight: 700;
    color: #F48120 !important;
    pointer-events: none;
}